@import 'variables';
@import 'mixins';

.hero {
  margin: 0 auto;
}

.hero__name {
  margin-top: 3rem;

  @include media-lg {
    margin-top: 3rem;
  }
}

.hero__profession {
  color: $orange;
  font: 900 2rem $font-titles;

  transition: all 0.2s ease-in-out;

  &:hover {
    text-shadow: 1px 1px 2px $green;
    letter-spacing: 0.05em;
  }

  @include media-sm {
    font-size: 4rem;
  }

  @include media-lg {
    font-size: 6rem;
  }
}

.hero__social {
  margin: $offset-basic auto;

  display: flex;
  flex-direction: row;

}

.hero__span {
  display: block;
  margin: $offset-basic *2;
  text-align: center;
  text-transform: capitalize;
}

.hero__item {
  margin: $offset-basic *2;
  padding: $offset-basic;
  border-radius: $border-radius-default;
  transition: all 0.25s ease-in-out;

  .hero__link {
    color: $light;
  }

  &:hover {
    transform: scale(1.2);

    .hero__link {
      color: $orange;
    }

    .icon__svg {
      stroke: $orange;
      fill: $orange;
    }
  }

  &:focus {
    box-shadow: 2px 2px 10px $orange, -2px -2px 10px $orange;
  }

}

.hero__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
