@import 'variables';
@import 'mixins';

.form__body {
  margin: $offset-basic auto;
  padding: $offset-basic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //max-width: 1200px;
}

.form__item {
  border: $size-section-border solid $light;
  border-radius: $border-radius-default;
  margin: $offset-basic;
  padding: $offset-basic;
  font-size: 1.25rem;
  color: $dark;
  font-weight: 700;
  resize: vertical;

  &:invalid {
    box-shadow: 2px 2px 10px $orange, -2px -2px 10px $orange;
  }

  &:focus {
    box-shadow: 2px 2px 10px $light, -2px -2px 10px $light;
  }

}


.ng-invalid.ng-touched:not(form) {
  color: $orange;
  box-shadow: 2px 2px 10px $orange, -2px -2px 10px $orange;
}

.form__tip {
  margin-left: 1em;
  color: $orange;
  font-size: 0.5em;
}

.form__error {
  display: inline;
  letter-spacing: 0;
  text-transform: lowercase;
  color: $orange;
}

.form__label {
  display: block;
  margin: $offset-basic *2;
  margin-bottom: 0;
  font: 500 $font-size-subtitle $font-titles;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: left;
}

.form__btn {

  @include borderDefault;
  margin: $offset-basic *4 auto;
  padding: $offset-basic *2;
  width: 50%;
  transition: all 0.3s ease-in-out;
  color: $dark;
  background-color: $green;

  font: 700 $font-size-subtitle $font-titles;
  text-transform: uppercase;

  &:hover {
    color: $light;
    background-color: $orange;
    box-shadow: 2px 2px 10px $green, -2px -2px 10px $green;
  }

  &:focus {
    box-shadow: 2px 2px 10px $light, -2px -2px 10px $light;
  }

  &:disabled {
    opacity: 0.5;
  }

}

.form__btn__small {
  width: 3rem;
  height: 3rem;
}

.gallery__input {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.form__input {
  width: 100%;
  height: 3rem;
}

.gallery__body {
  @include borderDefault;
  //width: 100%;
  padding: $offset-basic *4;
}

.gallery__item {
  @include borderDefault;
  width: 100%;
  padding: $offset-basic *2;
  color: $orange;
}

.special__mark {
  color: $orange;
}

.skills {
  margin: $offset-basic *4;
}

.skills__body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__item {
  margin: $offset-basic *4;
  padding: $offset-basic *2;
  cursor: pointer;
  border-radius: $border-radius-section;
}

.checked {
  box-shadow: 2px 2px 10px $orange, -2px -2px 10px $orange;
}

.links__body {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links__inputs {
  width: 100%;
}

.links__preview {
  padding-top: $offset-basic *2;
}

.link__item {
  margin-top: $offset-basic *2;
  padding: $offset-basic *2;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.project__link {
  @include borderDefault;
  border-radius: $border-radius-section;
  margin: $offset-basic *2;
  padding: 0 $offset-basic *2;
  display: inline-block;
  width: 96%;

  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  color: $light;
  transition: transform 0.25s ease-in-out;

  &:hover {
    color: $dark;
    background-color: $orange;
    box-shadow: 2px 2px 10px $green, -2px -2px 10px $green;
  }

  @include media-sm {
    padding: $offset-basic *2;
    width: auto;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
