<form class="form__body" [formGroup]="actual" autocomplete="off" (ngSubmit)="submit()">

  <label class="form__label" for="name">name<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['name']?.errors?.['minlength']">min length 3 chars</span>
  </label>
  <input class="form__item" type="text" id="name" formControlName="name" aria-required="true">

  <label class="form__label" for="descriptionEn">description (Eng)<sup class="special__mark">*</sup>
    <span class="form__tip"
          *ngIf="actual.controls?.['descriptionEn']?.errors?.['minlength']">min length 3 chars</span>
  </label>
  <textarea class="form__item" id="descriptionEn" formControlName="descriptionEn" rows="3"
            aria-required="true"></textarea>

  <label class="form__label" for="descriptionRu">описание (РУС)<sup class="special__mark">*</sup>
    <span class="form__tip"
          *ngIf="actual.controls?.['descriptionRu']?.errors?.['minlength']">минимум 3 символа</span>
  </label>
  <textarea class="form__item" id="descriptionRu" formControlName="descriptionRu" rows="3"
            aria-required="true"></textarea>

  <label class="form__label" for="whyEn">why (Eng)<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['whyEn']?.errors?.['minlength']">min length 3 chars</span>
  </label>
  <textarea class="form__item" id="whyEn" formControlName="whyEn" rows="3" aria-required="true"></textarea>

  <label class="form__label" for="whyRu">почему (РУС)<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['whyRu']?.errors?.['minlength']">минимум 3 символа</span>
  </label>
  <textarea class="form__item" id="whyRu" formControlName="whyRu" rows="3" aria-required="true"></textarea>

  <label class="form__label" for="technologies">technologies (Eng)<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['technologies']?.errors?.['minlength']">min length 3 chars</span>
  </label>
  <textarea class="form__item" id="technologies" formControlName="technologies" aria-required="true"></textarea>

  <label class="form__label" for="additionalEn">additional (Eng)<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['additionalEn']?.errors?.['minlength']">min length 3 chars</span>
  </label>
  <textarea class="form__item" id="additionalEn" formControlName="additionalEn" aria-required="true"></textarea>

  <label class="form__label" for="additionalRu">дополнительно (РУС)<sup class="special__mark">*</sup>
    <span class="form__tip" *ngIf="actual.controls?.['additionalRu']?.errors?.['minlength']">минимум 3 символа</span>
  </label>
  <textarea class="form__item" id="additionalRu" formControlName="additionalRu" rows="3"
            aria-required="true"></textarea>

  <div class="gallery">
    <label class="form__label" for="galleryItem">add gallery item</label>
    <div class="gallery__input">
      <input class="form__item form__input" type="text" id="galleryItem" formControlName="galleryItem"
             aria-required="true">
      <button class="form__btn form__btn__small " (click)="addGalleryItem()">+</button>
    </div>
    <div class="gallery__body" *ngIf="gallery.length">
      <label class="form__label special__mark">gallery items list</label>
      <div *ngFor="let item of gallery;index as i;" class="gallery__input">
        <p class="gallery__item">{{item}}</p>
        <button class="form__btn form__btn__small" (click)="delGalleryItem(i)">-</button>
      </div>
    </div>
  </div>

  <div class="skills">
    <label class="form__label">check needed skills below</label>
    <div class="skills__body">
      <app-svg-icon *ngFor="let skill of skillsFull" [id]="skill" [path]="svgIconSrc"
                    class="skills__item" [ngClass]="{checked : skills.includes(skill)}" (click)="toggleSkill(skill)">
      </app-svg-icon>
    </div>
  </div>

  <div class="links" formGroupName="linkItem" >
    <label class="form__label special__mark">add links</label>
    <div class="links__body">
      <div class="links__inputs">
        <label class="form__label" for="href">link href<sup class="special__mark">*</sup></label>
        <input class="form__item form__input" type="text" id="href" formControlName="href"
               aria-required="true">
        <label class="form__label" for="titleEn">link title (Eng)<sup class="special__mark">*</sup></label>
        <input class="form__item form__input" type="text" id="titleEn" formControlName="titleEn"
               aria-required="true">
        <label class="form__label" for="titleRu">название ссылки (РУС)<sup class="special__mark">*</sup></label>
        <input class="form__item form__input" type="text" id="titleRu" formControlName="titleRu"
               aria-required="true">
      </div>
      <button class="form__btn form__btn__small" (click)="addLinkItem()">+</button>
    </div>
    <div class="links__preview"  *ngIf="links.length">
      <label class="form__label special__mark">links items preview list</label>
      <div *ngFor="let item of links;index as i;" class="link__item">
        <p class="gallery__item">
          <a [href]="item.href" class="project__link" target="_blank"> {{item.title.en}}</a>
          <a [href]="item.href" class="project__link" target="_blank"> {{item.title.ru}}</a>
        </p>
        <button class="form__btn form__btn__small" (click)="delLinkItem(i)">-</button>
      </div>
    </div>
  </div>

  <button class="form__btn" type="submit" [disabled]="!actual.valid">show preview</button>
</form>
