<section class="about">
  <app-section-title [title]="title"></app-section-title>
  <div class="about__inner">
    <div class="about__bio">
      <app-subtitle [title]="bioTitle"></app-subtitle>
      <p>{{bioFull}}</p>
    </div>
    <div class="about__skills">
      <app-subtitle [title]="skillTitle"></app-subtitle>
      <div class="skills__set">
        <app-svg-icon *ngFor="let skill of mySkills" [path]="iconSrc" [id]="skill"></app-svg-icon>
      </div>
    </div>
  </div>
  <div class="about__stats">
    <app-subtitle [title]="ghTitle" type="h4"></app-subtitle>
    <div class="about__stats--wrapper">
      <a target="_blank" [href]="ghStats.href" class="about__link">
        <img class="about__img" [src]="ghStats.imgSrc" [alt]="ghStats.imgAlt">
      </a>
      <a target="_blank" [href]="ghMostUsed.href" class="about__link">
        <img class="about__img" [src]="ghMostUsed.imgSrc" [alt]="ghMostUsed.imgAlt">
      </a>
    </div>
  </div>
  <div class="about__stats">
    <app-subtitle [title]="certificateTitle" type="h4"></app-subtitle>
    <a routerLink="/certificates" class="about__link">
      <img class="about__img" [ngSrc]="certificateImgSrc" [alt]="certificateImgAlt"
           width="1800" height="500" priority>
      <span class="about__tip">{{certificateTip}}</span>
    </a>
  </div>
</section>
