<div  >
  <app-subtitle [title]="project?.name" type="h4"></app-subtitle>
  <div class="project__description">
    <p><span class="project__name">{{project?.name}}</span>{{project?.description?.[lang.lastLang]}}</p>
    <p><span class="project__special">{{projectTitles.why}}</span> {{project?.why?.[lang.lastLang]}} </p>
    <p><span class="project__special">{{projectTitles.technologies}}</span>{{project?.technologies}}</p>
    <p><span class="project__special">{{projectTitles.newSkills}}</span>{{project?.newSkills}}</p>
  </div>
</div>
