<section class="projects">
  <app-section-title [title]="pageTitles.title"></app-section-title>
  <div class="actual">
    <app-subtitle [title]="pageTitles.actual"></app-subtitle>
    <div class="actual__inner">
      <div class="project__card" *ngFor="let project of actualProjects">
        <app-subtitle [title]="project.name" type="h4"></app-subtitle>
        <app-gallery [imgList]="project.gallery"></app-gallery>
        <div class="project__technologies">
          <app-svg-icon *ngFor="let icon of project.skills" [path]="svgIconSrc" [id]="icon"></app-svg-icon>
        </div>
        <div class="project__description">
          <p><span class="project__name">{{project.name}}</span>{{project.description}}</p>
          <p><span class="project__special">{{projectTitles.why}}</span> {{project.why}} </p>
          <p><span class="project__special">{{projectTitles.technologies}}</span>{{project.technologies.join(', ')}}</p>
          <p><span class="project__special">{{projectTitles.additional}}</span> {{project.additional}} </p>
        </div>
        <div class="project__links">
          <a *ngFor="let link of project.links" [href]="link.href" class="project__link" target="_blank">
            {{link.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="future">
    <app-subtitle [title]="pageTitles.future"></app-subtitle>
    <div class="future__inner">
      <div class="future__card" *ngFor="let project of futureProjects">
        <app-subtitle [title]="project.name" type="h4"></app-subtitle>
        <div class="project__description">
          <p><span class="project__name">{{project.name}}</span>{{project.description}}</p>
          <p><span class="project__special">{{projectTitles.why}}</span> {{project.why}} </p>
          <p><span class="project__special">{{projectTitles.technologies}}</span>{{project.technologies.join(', ')}}</p>
          <p><span class="project__special">{{projectTitles.newSkills}}</span>{{project.newSkills.join(', ')}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
