<section class="projects">
  <app-section-title [title]="pageTitles.title"></app-section-title>
  <app-subtitle [title]="pageTitles.actual"></app-subtitle>
  <div class="actual">
    <div class="actual__inner">
      <app-actual-project-card *ngFor="let project of actualProjects" [project]="project"></app-actual-project-card>
    </div>
  </div>
  <div class="future">
    <app-subtitle [title]="pageTitles.future"></app-subtitle>
    <div class="future__inner">
      <app-future-project class="future__card" *ngFor="let project of futureProjects" [project]="project">
      </app-future-project>
    </div>
  </div>
</section>
