@import 'variables';
@import 'mixins';

.header__subtitle {
  margin: $offset-basic *2 auto;
  font: 500 $font-size-subtitle $font-titles;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $orange;

  @include media-xl {
    margin: 2vw auto;
    font-size: $font-size-subtitle * 2;
  }
}
